.body-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#result {
    min-width: 100px;
    min-height: 50px;
    text-align: center;
}

button {
    width: 100px;
    height: 25px;
}